.addmodal-btn {
	font-family: 'Montserrat';
	font-weight: 500;
}
.modal-title {
	font-family: 'Poppins';
	font-weight: 600;
}
.modalform-btn {
	font-family: 'Montserrat';
	font-weight: 500;
}
.modalbodytitle {
	font-family: 'Poppins';
}
.modalbodytext {
	font-family: 'Montserrat';
}
